<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
    <table border="1">
        <tr>
            <td>Name</td>
            <td><input type="text" name="nm" value="{{obj.name}}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" name="em" value="{{obj.email}}"></td>
        </tr>
        <tr>
            <td>password</td>
            <td><input type="password" name="pas" value="{{obj.password}}"></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><input type="tel" name="cnt" value="{{obj.Contact}}"></td>
        </tr>
        <tr>
            <td>City</td>
            <td>
                <select name="ct">
                    <option value="Surat" {% if obj.City == 'Surat' %} selected {% endif %}>Surat</option>
                    <option value="Rajkot" {% if obj.City == 'Rajkot' %} selected {% endif %}>Rajkot</option>
                    <option value="Mumbai" {% if obj.City == 'Mumbai' %} selected {% endif %}>Mumbai</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <input type="radio" name="gn" value="male" {% if obj.Gender == 'male' %} checked {% endif %}>Male
                <input type="radio" name="gn" value="female" {% if obj.Gender == 'female' %} checked {% endif %}>Female
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="add" value="Add contact">
            </td>
        </tr>
    </table>
</form>
</body>
</html>